  <div class="container">

    <div class="card">
      <div class="card-block">

        <!--Header-->
        <div class="form-header">
          <h3 id="header-center"><i class="fa fa-user"></i> User Settings</h3>
        </div>

        <!--Body-->

        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input disabled type="text" id="form1" class="form-control" aria-describedby="button-addon2" placeholder={{name}}>
          <label for="form4"></label>
          <div class="input-group-append">
            <button id="name-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input disabled type="text" id="form2" class="form-control" aria-describedby="button-addon2" placeholder={{email}}>
          <label for="form2"></label>
          <div class="input-group-append">
            <button id="email-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input disabled type="password" id="form3" class="form-control" aria-describedby="button-addon2" placeholder={{password}}>
          <label for="form3"></label>
          <div class="input-group-append">
            <button id="password-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-address-card prefix"></i>
          <input disabled type="text" id="form4" class="form-control" aria-describedby="button-addon2"placeholder={{phoneNumber}}>
          <label for="form4"></label>
          <div class="input-group-append">
            <button id="address-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input disabled type="password" id="form5" class="form-control" aria-describedby="button-addon2" placeholder={{age}}>
          <label for="form5"></label>
          <div class="input-group-append">
            <button id="password-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input disabled type="text" id="form6" class="form-control" aria-describedby="button-addon2" placeholder={{gender}}>
          <label for="form6"></label>
          <div class="input-group-append">
            <button id="email-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-address-card prefix"></i>
          <input disabled type="text" id="form7" class="form-control" aria-describedby="button-addon2">
          <label for="form7"></label>
          <div class="input-group-append">
            <button id="car-make-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input disabled type="password" id="form8" class="form-control" aria-describedby="button-addon2">
          <label for="form8"></label>
          <div class="input-group-append">
            <button id="password-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input disabled type="text" id="form9" class="form-control" aria-describedby="button-addon2">
          <label for="form9"></label>
          <div class="input-group-append">
            <button id="email-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-address-card prefix"></i>
          <input disabled type="text" id="form10" class="form-control" aria-describedby="button-addon2">
          <label for="form10"></label>
          <div class="input-group-append">
            <button id="address-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input disabled type="password" id="form11" class="form-control" aria-describedby="button-addon2">
          <label for="form11"></label>
          <div class="input-group-append">
            <button id="password-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button>
          </div>
        </div>

        <!----->






      </div>

    </div>

    <button id="save-changes" class="btn btn-success form-control">Save Changes</button>
  </div>