<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Settings</title>
  <link rel="stylesheet" href="assets/settings.css">
</head>

<body>

  <header id="navbar-label">
    <h1>SandFit Fitness App</h1>
  </header>



  <div class="container">

    <div class="card">
      <div class="card-block">

        <!--Header-->
        <div class="form-header">
          <h3 class="text-center" id="header-center"><i class="fa fa-user"></i> User Settings</h3>
        </div>

        <!--Body-->

        <form action="/settings" method="POST">

          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="form1" name="name" class="form-control" aria-describedby="button-addon2"
              value={{name}}>
            <label for="form4"></label>
            <div class="input-group-append">
              {{!-- <button id="name-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button> --}}
            </div>
          </div>

          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="form2" name="email" class="form-control" aria-describedby="button-addon2"
              value={{email}}>
            <label for="form2"></label>
            <div class="input-group-append">
              {{!-- <button id="email-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button> --}}
            </div>
          </div>

          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form3" name="phone" class="form-control" aria-describedby="button-addon2"
              value={{phoneNumber}}>
            <label for="form3"></label>
            <div class="input-group-append">
              {{!-- <button id="password-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button> --}}
            </div>
          </div>

          <div class="md-form">
            <i class="fa fa-address-card prefix"></i>
            <input type="text" id="form4" name="age" class="form-control" aria-describedby="button-addon2"
              value={{age}}>
            <label for="form4"></label>
            <div class="input-group-append">
              {{!-- <button id="address-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button> --}}
            </div>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="text" id="form5" name="gender" class="form-control" aria-describedby="button-addon2"
              value={{gender}}>
            <label for="form5"></label>
            <div class="input-group-append">
              {{!-- <button id="password-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button> --}}
            </div>
          </div>

          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form6" name="height" class="form-control" aria-describedby="button-addon2"
              value={{height}}>
            <label for="form6"></label>
            <div class="input-group-append">
              {{!-- <button id="email-button"
              class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect button-addon2"
              type="button">Change</button> --}}
            </div>
          </div>
          <button id="save-changes" type="submit" class="btn  ">Save Changes</button>
        </form>

        <div class="centered-link text-center">
          <a id="link-me" href="/dashboard">Back to Main Page</a>
        </div>

        <!----->






      </div>

    </div>


  </div>
</body>

</html>